.show-more{display:flex;margin:30px auto 0;min-width:220px}
.leaflet-container .marker-cluster-small div,.leaflet-container .marker-cluster-medium div,.leaflet-container .marker-cluster-large div{background:#652c3e;color:white;font-weight:700}
.leaflet-container .marker-cluster-small,.leaflet-container .marker-cluster-medium,.leaflet-container .marker-cluster-large{background:#d9bec8}
.leaflet-container .marker-cluster:focus-visible{outline:3px solid #a24d24;outline-offset:3px}
